<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./dist/css/main.css">
    <title>GoodThings</title>
</head>
<body>
    <div id="app">
        <div class="sticky-top">
            <div class="header-main">
                <h1>GoodThings</h1>
                <i @click="editCost('add')" class="material-icons">add</i>
                <button type="button" @click="logout" style="display: none;">登出</button>
            </div>
            <div class="box-form" v-if="isEdit">
                <form class="form form-cost" @submit.prevent="updateCost(editCostType)">
                    <div>
                        <input v-model="formCost.date">
                        <input v-model="formCost.name" placeholder="品項" required>
                        <input v-model.number="formCost.price" placeholder="價格" type="number" required>
                        <button type="submit">{{ costSubmitText }}</button>
                    </div>
                    <ul class="list-tags">
                        <li v-for="tag in tags" :key="tag" :class="{ 'active' : tagsActive.includes(tag)}" @click="toggleTag(tag, tagsActive)">
                            {{ tag }}
                        </li>
                        <li @click="isAddTag = !isAddTag">+</li>
                    </ul>
                </form>
                <form v-if="isAddTag" class="form form-tag" @submit.prevent="addTag">
                    <input v-model="newTagName" placeholder="標籤名">
                    <button type="submit">新增標籤</button>
                </form>
            </div>
        </div>

        <main class="main-main">
            <form id="firebaseui-auth-container"></form>
            <div class="box-date">
                <span @click="changeDate('prevMonth')" class="material-icons">chevron_left</span>
                <h3>{{ dateActive.substring(0, 4) }} 年 {{ dateActive.substring(5, 7) }} 月</h3>
                <span @click="changeDate('nextMonth')" class="material-icons">chevron_right</span>
            </div>
            <h2 class="total-month">${{ totalMonth }}</h2>
            <ul class="list-tags-total">
                <li v-for="tag in tagsTotal" :key="tag.name" @click="toggleTag(tag.name, tagsFilter)" :class="{ 'active' : tagsFilter.includes(tag.name)}">
                    <h4>{{ tag.name }}</h4>
                    <h5>${{ tag.total }}</h5>
                </li>
            </ul>
            <ul class="list-costs">
                <li v-for="cost in costsList" :key="cost.date">
                    <label>{{ cost.date }}<span>${{ cost.total }}</span></label>
                    <ul>
                        <li v-for="item in cost.list" :key="item.id" @click="editCost('put', item.id, cost.date, item.name, item.price, item.tags)" :class="{ 'active' : costActiveId === item.id }">
                            <h4>{{ item.name }}</h4>
                            <h5>${{ item.price }}</h5>
                        </li>
                    </ul>
                </li>
            </ul>
            <button v-if="costActiveId !== null" @click="updateCost('delete')">刪除</button>
        </main>
        
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth__zh_tw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script type="module" src="dist/js/main.js"></script>
</body>
</html>
