head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width initial-scale=1.0 user-scalable=no")
    meta(name="description" content="Mooney 極簡極快速的記帳 APP")
    meta(name="theme-color" content="#ffffff")
    link(rel="icon", href="./icon-192.png")
    link(rel="apple-touch-icon" href="icon-192.png")
    link(rel="manifest", href="./manifest.json")
    link(rel="stylesheet", href="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="./dist/css/main.css")
    title mooney lite
