.header-main
	background-color: $main
	color: #fff
	display: flex
	justify-content: center
	align-items: center
	padding: 0 .5rem
	h1
		margin: 0
		font-size: 20px
		height: 48px
		line-height: 48px
		a
			color: #fff
			text-decoration: none
	h4
		margin: 0
	i
		cursor: pointer
		transition: .2s
		width: 48px
		height: 48px
		display: flex
		justify-content: center
		align-items: center
		font-size: 28px
		&:first-child
			margin-right: auto
		&:last-child
			margin-left: auto
		&.active
			transform: rotate(-45deg)

.sticky-top
	position: sticky
	background-color: #f9f9f9
