.list-tags
	list-style: none
	margin: 0
	padding: 0
	display: flex
	flex-wrap: wrap
	align-items: center
	li
		margin-bottom: .5rem
		display: flex
		justify-content: center
		align-items: center
		color: $tag
		&:not(:last-child)
			border: 1px solid $border
			border-radius: $radius
			margin: 0 .5rem .5rem 0
			padding: 6px 12px
			font-size: 12px
			cursor: pointer
			transition: .2s
			white-space: nowrap
			background-color: #fff		
			&:hover
				background-color: rgba(0, 0, 0, .01)
			&.active
				background-color: $tag
				color: #fff
		i
			transition: .2s
			cursor: pointer
			font-size: 18px
			margin-left: .5rem
			&.mi-lg
				font-size: 24px
				margin-left: 0
			&:hover
				color: $tag-dark
			&.active					
				transform: rotate(-45deg)

.list-tags-total
	list-style: none
	margin: 0 0 1.5rem
	padding: 0
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	li
		border: 2px solid $border
		border-radius: $radius
		padding: 8px
		margin: 0 .5rem .5rem 0
		text-align: center
		cursor: pointer
		transition: .2s
		&:hover
			border-color: $border-dark
		&.active
			border-color: $tag
			h4, h5
				color: $tag
		h4
			color: $tag
			font-size: 13px
			margin: 0 0 .25rem
		h5
			margin: 0
			font-size: 12px
			color: $gray
